# created by virtualenv automatically
# 1. Ignore the actual library folders inside .venv
.venv/Lib/
.venv/Scripts/
.venv/Include/
.venv/etc/
.venv/share/
.venv/

# 2. Ignore Python Cache
__pycache__/
*.pyc

# 3. Ignore IDE settings
.idea/
.vscode/

# 4. Ignore System files
.DS_Store
pyvenv.cfg
